<div class="container-fluid">
  <div class="template-header text-center">
    <i class="fa fa-globe fa-5x fa-fw margin-bottom"></i>
    <h3 class="text-center">Properties</h3>
    <hr>
    <button class="btn btn-primary"> <i class="fa fa-3x fa-plus-circle"></i></button>
  </div>
  <br>
  <div class="template-header">
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>#</th>
          <th>Owner</th>
          <th>Value</th>
          <th>Address</th>
          <th>Occupants</th>
          <th>Tenants</th>
          <th>Monthly Rent</th>
          <th class='text-center'>Edit | Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr class='active' ng-repeat="property in properties track by $index">
          <td>{{property.$index}}</td>
          <td><pre>{{property.Owner}}</pre></td>
          <td>{{property.Value | currency}}</td>
          <td><pre>{{property.Address | json}}</pre></td>
          <td><pre>{{property.Occupants}}</pre></td>
          <td>
            <ul class='unlisted' ng-repeat='tenant in property.tenants'>
              <li><pre>{{tenant}}</pre></li>
            </ul>
          </td>
          <td>{{property.MonthlyRent | currency}}</td>
          <td class='text-center'> <button class="btn btn-danger"> <i class="fa fa-trash"></i> Delete</button> <button class="btn btn-info"> <i class="fa fa-edit"></i> Edit</button> </td>
        </tr>
        <!-- <tr>
        <td>2</td>
        <td>Column content</td>
        <td>Column coasdfntent</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column content</td>
        <td>Column asdfasdf</td>
      </tr>
      <tr class="info">
      <td>3</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr class="success">
    <td>4</td>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
  </tr>
  <tr class="danger">
  <td>5</td>
  <td>Column content</td>
  <td>Column content</td>
  <td>Column content</td>
</tr>
<tr class="warning">
<td>6</td>
<td>Column content</td>
<td>Column content</td>
<td>Column content</td>
</tr>
<tr class="active">
<td>7</td>
<td>Column content</td>
<td>Column content</td>
<td>Column content</td>
</tr> -->
</tbody>
</table>
